<nav id="top-nav" class="navbar  navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <div class="col-xs-8 col-sm-10">
          <a class="navbar-brand" href="/" id="nav-link-logo">
            <img src="http://rack.1.mshcdn.com/assets/header_logo.v2.us.dark-9f775fba3e1140cab3876dac5399dd28.png" width="220" alt="the logo" class="img-responsive">
          </a>
        </div>        
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Next time, don't hardcode the startup Twitter handle -->
      <li class="navbar-right">
        <a href="https://twitter.com/mashable" title="Click me to go to Twitter"><span class="glyphicon glyphicon-book"></span>  Twitter</a>
      </li>
    </ul>
  </div>
</nav>
