<nav id="top-nav" class="navbar  navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <div class="col-xs-8 col-sm-10">
          <a class="navbar-brand" href="/" id="nav-link-logo">
            <img src="https://cdn.stackcommerce.com/assets/site/logo-62ef20e27621fc1124d61518172e719d.svg" width="230" alt="stack commerce logo" class="img-responsive">
          </a>
        </div>        
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://twitter.com/StackCommerce"><span class="glyphicon glyphicon-book"></span>  Twitter</a>
      </li>
    </ul>
  </div>
</nav>
